<div *ngIf="this.stateService.status == 'guest'">
    Not registered yet?<br>
    <button class="menu-button" (click)="onRegisterClicked()">register</button>
    <button class="menu-button" (click)="onLoginClicked()">login</button>
</div>

<div *ngIf="this.stateService.status == 'user'">
    hallow {{this.stateService.userName}}! 
    <button class="menu-button" (click)="onLogOutClicked()">log-out</button>
</div>

<div *ngIf="this.stateService.status == 'admin'">
    hallow {{this.stateService.userName}}! <br>
    <button class="menu-button" (click)="onLogOutClicked()">log-out</button>
    <button class="menu-button" (click)="onReportsClicked()">reports</button>
</div>