:host {
    grid-column: span 9;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-flow: wrap;
    align-items: center;
}

.bar-category {
    margin: auto;
    margin-top: 10px;
    display: flex;
}

.category {
    display: inline-block;
    background-color: hsl(208, 100%, 97%, 0.7);
    margin: 5px;
    padding: 2px;
    border: 1px solid black
}

.category:hover {
    background-color: hsl(208, 100%, 97%, 1);
    margin: 4px;
    padding: 2px;
    border: 2px solid black;
    font-size: +5;
    cursor: pointer;
}